<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftownsquare.media%2Fsite%2F366%2Ffiles%2F2016%2F05%2FOzzfest-Knotfest-ZakkSabbath-20160512-KathyFlynn-4393.jpg%3Fw%3D1200%26h%3D0%26zc%3D1%26s%3D0%26a%3Dt%26q%3D89&f=1&nofb=1'>
  <p>
    Wylde is known for his use of Gibson Les Paul Custom model guitars, equipped with EMG -81 and -85 active pickups,
    with his signature black-and-white "bulls-eye" graphic on them, a design he used to differentiate himself visually
    from Randy Rhoads – who was also frequently identified by his cream-colored Les Paul Custom, the guitar Wylde has
    used since he was 12 years old.[citation needed] The "bulls-eye" paint job was originally supposed to look like the
    spiral from the Alfred Hitchcock movie Vertigo, but when it came back incorrect from the paint shop, he liked the
    result and decided to keep it.[26] One of Wylde's favorite stage guitars is a GMW RR-V, a model that is famously
    known as the "Polka-dot V" Created originally by luthier Karl Sandoval of California, used by Randy Rhoads, often
    mistaken as a custom Flying V.
  </p>
  <p>
    Wylde's signature Les Pauls include a red flame-maple bulls-eye model, a black and antique-white bulls-eye model, an
    orange "buzz-saw" model, the pattern on which was inspired by a design on a Zippo lighter,[27] and a "camo"
    bulls-eye model with mother of pearl neck inlays and a green camouflage paint scheme. His original bulls-eye Les
    Paul was purchased from one of the owners of Metaltronix Amplification. Metaltronix was building a one-off live rig
    for Wylde that was designed around one of the owner's guitars, a creamy white Les Paul Custom with EMG pickups,
    which would later become known as "The Grail". Wylde has a custom Dean Splittail with a mud splatter bulls-eye
    graphic, as well as a signature Splittail shaped Gibson model called the "ZV". Another Dean in his collection is a
    Dime series Razorback with custom Bulls-eye graphics ordered for him specially by Dimebag Darrell shortly before his
    murder in 2004; since receiving the guitar, he has only ever used it on stage to play the song "In This River",
    Zakk's personal tribute to Dimebag.
  </p>
  <p>
    In practice, Wylde uses Marshall MG Series practice combos ranging in wattage levels from 10-30W during tour/private
    use especially in hotels and buses. He has also been known to use Marshall Valvestate combo amplifiers. Wylde has an
    extensive relationship with Marshall Amplification due to his love for their amplifiers, both solid state and
    tube-driven. Live, Wylde exclusively uses Marshall JCM 800's with twin 4 X 12 Cabinets loaded with EVM12L 300W Black
    Label Speakers. His usual signal path consists of his guitar > (on stage pedal board) Dunlop Wylde Wah > Dunlop
    Wylde Rotovibe > MXR ZW Phase 90 > MXR Wylde Overdrive > MXR Carbon Copy Delay > (to a back stage pedal board) > MXR
    EVH Flanger > MXR Black Label Chorus > split signals, one to each distorted amp into the High Gain input.
  </p>
  <p>
    A detailed gear diagram of Wylde's 1988 Ozzy Osbourne guitar rig is well-documented.
  </p>
  <p>
    At the 2015 NAMM Show, Wylde announced his new company called Wylde Audio and provided a preview of his new line of
    custom guitars and amplifiers. Currently he now is seen playing Wylde Audio equipment almost exclusively.
  </p>
  <ion-button color='success' expand='full' [routerDirection]="'root'" [routerLink]="['/chapter4']">Bold Step Forward
  </ion-button>
  <ion-button color='dark' expand='full' [routerDirection]="'root'" [routerLink]="['/chapter2']">Retreat</ion-button>
</ion-content>