<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages-wixmp-ed30a86b8c4ca887773594c2.wixmp.com%2Ff%2Fbdf0e19c-2410-4ca8-a4fa-2c893b8f240f%2Fd8f178j-3cf53eaf-c0b5-4a12-be2b-9d9c029d5270.jpg%2Fv1%2Ffill%2Fw_1024%2Ch_615%2Cq_75%2Cstrp%2Fzakk_wylde__black_label_society_by_lizzys_photos_d8f178j-fullview.jpg%3Ftoken%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjE1IiwicGF0aCI6IlwvZlwvYmRmMGUxOWMtMjQxMC00Y2E4LWE0ZmEtMmM4OTNiOGYyNDBmXC9kOGYxNzhqLTNjZjUzZWFmLWMwYjUtNGExMi1iZTJiLTlkOWMwMjlkNTI3MC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.6s69GehtHZJ3uGDEVYkkDyX3eFmLpfv1TQZhhAVPYh8&f=1&nofb=1">
  <p>
    Wylde played locally with his first band Stone Henge, then later with local New Jersey band Zyris. Later, he
    auditioned for lead guitarist and co-writer for Ozzy Osbourne. Wylde was hired to replace Jake E. Lee, who replaced
    Brad Gillis, who had himself replaced the deceased Randy Rhoads. Rhoads remains Wylde's foremost guitar-playing and
    stagecraft influence.[6]
  </p>
  <p>
    Wylde gravitated toward a particular Les Paul guitar, which has become known as "The Grail"; his bullseye-painted
    1981 Gibson Les Paul Custom. Wylde lost the guitar in 2000 after it fell from the back of a truck transporting
    equipment as he was travelling between gigs in Texas. Rewards were offered to anyone that had information about the
    guitar. Wylde and The Grail were reunited three years later when a fan bought it at a Dallas pawn shop and saw the
    initials "Z.W." carved into the humbucker pickups backs. He contacted Wylde's former webmaster Randy Canis to
    arrange its return to Wylde. Grateful, Wylde gave the fan his signature model in exchange.[5]
  </p>
  <p>
    In 1995, Wylde auditioned for Guns N' Roses.[7][8][9] Wylde was replaced in Osbourne's band by Joe Holmes from 1995
    until his return in 2001. In January 2006, Wylde was recognized at the Hollywood Rock Walk of Fame, featuring his
    handprints and signature, in recognition of his successful career as a musician and his contribution to the music
    industry. The event was open to the public and many rock celebrities were present, including Ozzy Osbourne.[citation
    needed]
  </p>
  <p>
    For a time in the mid-2000s he contributed a monthly column entitled "Brew-tality" for Guitar World magazine,
    discussing his techniques and equipment, as well as transcribing riffs and solo sections. After auditions in
    2004/05, Ozzy Osbourne announced Wylde as the official guitarist for his album Black Rain, which was released in
    2007. On stage with Osbourne, Wylde has been credited for lending a high level of energy and passion to
    performances.[citation needed]
  </p>
  <p>
    Black Label Society headlined the second stage at the 2006 Ozzfest, with Wylde playing double duty with Ozzy
    Osbourne on certain dates.[10] He also joined Osbourne for the Ozzy and Friends Tour in replacement of the Black
    Sabbath tour scheduled for the summer of 2012, playing a range of European dates including Graspop Metal Meeting in
    Belgium.[11]
  </p>
  <p>
    Wylde played a guitar solo on Black Veil Brides' cover of Kiss' "Unholy", on the 2011 EP Rebels.[12]
  </p>
  <p>
    Wylde in 2010
    Since 2014, Wylde has led a Black Sabbath cover band called Zakk Sabbath, handling guitar and vocal duties, joined
    by Rob "Blasko" Nicholson on bass and Joey Castillo (Danzig, Queens of the Stone Age) on drums, who replaced
    original drummer John Tempesta. JP Gaster (Clutch) occupied the drummer's seat in between, in September 2017.[13]
    The band tours intermittently, and released a single, three-track vinyl-only live 12", in 2016.[14]
  </p>
  <p>
    Wylde, Steve Vai, Nuno Bettencourt, Yngwie Malmsteen, and Tosin Abasi were featured on the Generation Axe tour in
    2016, 2017, and 2018.
  </p>
  <p>
    Wylde joined Ozzy Osbourne's band for a select number of dates during Osbourne's 2017 summer tour, and then
    performed as part of the No More Tours II tour.[15]
  </p>
  <ion-button color='success' expand='full' [routerDirection]="'root'" [routerLink]="['/chapter3']">Bold Step Forward
  </ion-button>
  <ion-button color='dark' expand='full' [routerDirection]="'root'" [routerLink]="['/chapter1']">Retreat</ion-button>

</ion-content>