<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2F39%2Fa2%2F4f%2F39a24fa0ffdef278dbb625318c7f3943--zakk-wylde-zelda.jpg&f=1&nofb=1'>
  <p>Zachary Phillip Wylde was born Jeffrey Phillip Wielandt in Bayonne, New Jersey, on January 14, 1967. He is of
    Irish descent. He started playing guitar at the age of eight, but did not become serious about it until his early
    teenage years. At the age of 14, he worked at Silverton Music in Silverton, New Jersey. He grew up in Jackson,
    New Jersey, where he attended Jackson Memorial High School, graduating in 1985. He has stated that he often
    played the guitar almost non-stop between coming home from school and leaving for school the next morning, then
    would be completely exhausted during school the next day.
  </p>
  <ion-button color='success' expand='full' [routerDirection]="'root'" [routerLink]="['/chapter2']">Bold Step Forward
  </ion-button>
  <ion-button color='dark' expand='full' [routerDirection]="'root'" [routerLink]="['/toc']">Retreat</ion-button>
</ion-content>